<div class="col-md-8" style="background-color:#FFFFFF">
    <div class="header-text" style="margin-top: 20px">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
            <p>
                <div class="row">
                     <div class="col-xs-8">
                     <h1 style="padding-left: 50px"> <i>New Patient Enrollment</i></h1>
                     <h3 style="padding-left: 50px"> <i>LABAID Specialized Hospital </i></h3>
                    </div>
              
                     <div class="col-xs-4">
                         <img src="./images/doctor.png" alt="Dr. Xander" style="width:150px; height:150px">
                    </div>
                </div>
               <hr/>

               <form>
                 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

                    <div class="form-group">
                        <span for="number" style="padding-right: 180px; padding-left: 52px" >Full Name</span>
                        <input type="text" style="font-size: 10pt; height: 35px; width:120px; " placeholder="First Name">
                        <input type="text" style="font-size: 10pt; height: 35px; width:120px; " placeholder="Middle Name">
                        <input type="text" style="font-size: 10pt; height: 35px; width:120px; " placeholder="Last Name">
                   </div>

                    <div class="form-group">
                        <span for="number" style="padding-right: 210px; padding-left: 51px" >Email</span>
                        <input type="email" style="font-size: 10pt; height: 35px; width:369px; " placeholder="Email">
                   </div>

                    <div class="form-group">
                        <span for="number" style="padding-right: 185px; padding-left: 50px" >Password</span>
                        <input type="password" style="font-size: 10pt; height: 35px; width:182px; " placeholder="Password">
                        <input type="password" style="font-size: 10pt; height: 35px; width:182px; " placeholder="Confirm Password">
                   </div>

                    <div class="form-group">
                        <span for="number" style="padding-right: 205px; padding-left: 50px" >Phone</span>
                        <input type="text" style="font-size: 10pt; height: 35px; width:369px; " placeholder="Phone">
                   </div>

                    <div class="form-group">
                        <span for="number" style="padding-right: 195px; padding-left: 50px" >Address</span>
                        <input type="text" style="font-size: 10pt; height: 35px; width:369px; " placeholder="Address">
                   </div>

                    <div class="form-group">
                        <span for="number" style="padding-right: 250px; padding-left: 49px" ></span>
                        <input type="text" style="font-size: 10pt; height: 35px; width:183px; "placeholder="City">
                        <input type="text" style="font-size: 10pt; height: 35px; width:183px; " placeholder="Zip code">
                   </div>

                    <div class="form-group">
                        <span for="number" style="padding-right: 170px; padding-left: 49px" >Date of Birth</span>
                        <input type="text" style="font-size: 10pt; height: 35px; width:120px; " placeholder="Month">
                        <input type="text" style="font-size: 10pt; height: 35px; width:120px; " placeholder="Day">
                        <input type="text" style="font-size: 10pt; height: 35px; width:120px; " placeholder="Year">
                   </div>

                    <div class="form-group">
                        <span for="number" style="padding-right: 200px; padding-left: 49px" >Gender</span>
                         <select style="font-size: 10pt; height: 35px; width:370px; " id="inputState">
                            <option selected>Choose...</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            <option value="3">Other</option>
                          </select>
                   </div>

                   
                    <div class="form-group" style="padding-left:300px ; padding-right: 40px;  ">
                        <button type="button" class="btn btn-block btn-success btn-sm">Success</button>
                   </div>

                   
                </form>
            </p>
    </div>
</div>
